name: Flake8

on:
  push:
    paths:
      - '**.py'

jobs:
  flake8_py3:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - uses: actions/checkout@v2
      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black

      # Avoid errors from formatting that the separate black workflow
      # is going to solve anyway
      - name: Run black
        run: |
          black pyrokinetics setup.py
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: 'flake8_py3'   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
